<a href="https://colab.research.google.com/github/MeriemBek/test67/blob/main/problem_0701.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Quiz #0701

### "TensorFlow machine learning with Calilfornia housing data"

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior() 
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')    # Turn the warnings off.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:101: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

#### Answer the following question by providing Python code:

In [2]:
# Bring the data.
housing_data = fetch_california_housing()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to /root/scikit_learn_data

In [3]:
# Read the description.
print(housing_data['DESCR'])

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block
        - HouseAge      median house age in block
        - AveRooms      average number of rooms
        - AveBedrms     average number of bedrooms
        - Population    block population
        - AveOccup      average house occupancy
        - Latitude      house block latitude
        - Longitude     house block longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
http://lib.stat.cmu.edu/datasets/

The target variable is the median house value for California districts.

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

1). Explore the data:
- Display the dataset as a DataFrame with column labels.

In [4]:
df = pd.DataFrame(housing_data.data,columns=housing_data.feature_names)
df['medValue'] = housing_data.target
df

       MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  medValue
0      8.3252      41.0  6.984127  ...     37.88    -122.23     4.526
1      8.3014      21.0  6.238137  ...     37.86    -122.22     3.585
2      7.2574      52.0  8.288136  ...     37.85    -122.24     3.521
3      5.6431      52.0  5.817352  ...     37.85    -122.25     3.413
4      3.8462      52.0  6.281853  ...     37.85    -122.25     3.422
...       ...       ...       ...  ...       ...        ...       ...
20635  1.5603      25.0  5.045455  ...     39.48    -121.09     0.781
20636  2.5568      18.0  6.114035  ...     39.49    -121.21     0.771
20637  1.7000      17.0  5.205543  ...     39.43    -121.22     0.923
20638  1.8672      18.0  5.329513  ...     39.43    -121.32     0.847
20639  2.3886      16.0  5.254717  ...     39.37    -121.24     0.894

[20640 rows x 9 columns]

2). Build a machine learning model with TensorFlow. 
- Preprocess the data if necessary.
- Build a linear regression model.
- Train the model.
- Calculate the error metrics such as MSE and RMSE (in-sample and out-of-sample). Target: RMSE < 1.

In [5]:
np.random.seed(50)
tf.set_random_seed(50)
X = tf.placeholder("float")
Y = tf.placeholder("float")
W = tf.Variable(np.random.randn(), name = "W")
b = tf.Variable(np.random.randn(), name = "b")
learning_rate = 0.01
training_epochs = 1000
n=len(df)

In [ ]:
x = df.drop('medValue',axis=1)

y=df['medValue']

In [7]:

y_pred = tf.add(tf.multiply(X, W), b)

cost = tf.reduce_sum(tf.pow(y_pred-Y, 2)) / (2 * n)


optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

init = tf.global_variables_initializer()

In [ ]:
n_epochs = 5000                                                   
train = optimizer                        
init = tf.global_variables_initializer()                 
with tf.Session() as sess:
        sess.run(init)                        
        for i in range(n_epochs):
          for (_x, _y) in zip(x, y):
            sess.run(train, feed_dict = {X : _x, Y : _y})
        b0_model, b1_model = sess.run([W, b])                   # Get the final values of the Variables.        
        mse_value = sess.run(cost, feed_dict = {X: x, Y: y})            # Calculate the in-sample MSE.
  #22m 38s
# completed at 1:32 PM
#i'm sorry for not showing the result and making sure it's true but  it won't even finish running

In [ ]:
print("MSE  = {:5.3f}".format(mse_value))
print("RMSE = {:5.3f}".format(np.sqrt(mse_value)))